body {
    font: 16px 'Rubik', sans-serif;
    color: #303030;
    margin: 0;
    line-height: 30px;
}

header,
#summary,
footer {
    background-color: #303030;
    color: white;
}

header {
    z-index: 1000;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    justify-items: center;
    position: sticky;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}


#summary, footer {
    padding-top: 10px;
    padding-bottom: 20px;
}

#summary .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

a,
a:visited {
    text-decoration: none;
    color: #CE6464;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    line-height: 35px;
}


h2 {
    font-size: 25px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.button{
    display: flex;
    margin: 30px 0;
}
.button a,
.button a:visited {
    color: #303030;
    padding: 10px;
    border: 1px solid #303030;
    border-radius: 2px;
}

.button a:hover {
    text-decoration: none;
    color: white !important;
    border: 1px solid #CE6464;
    background: #CE6464;
}

#logo a,
#logo a:visited {
    text-decoration: none;
    color: white;
    display: block;
}

#background-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #303030;
    opacity: 0.7;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 4px 10px #3b3b3b;
}
#button-close {
    padding: 20px;
    color: #303030;
}

nav.close, #background-fade.hide {
    display: none;

}

nav.open, #background-fade.show {
    display: block;

}

#menu {
    margin: 0;
    padding: 20px 50px;
    list-style: none;
    text-align: center;
}

#menu li {
    line-height: 50px;
}

#menu li a,
#menu li a:visited {
    color: #303030;
    display: block;
}

#menu li:last-child a,
#menu li:last-child a:visited {
    line-height: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1280px) 1fr;
}

.content {
    grid-column-start: 2;
    padding: 0 6%;
}

section {
    margin: 80px 0;
    overflow: hidden;
}


.project-image {
    text-align: center;
}

.project-image img{
    height: 500px;
}

.project, .method{
    margin: 40px 0;
}
.about-me .about-image {
    text-align: center;
}

.about-image img {
    width: 300px;
    border-radius: 2px;
}

.light {
    font-weight: 300;
    margin: 0;
}

.quote {
    font-weight: 300;
    font-style: italic;
}
.quote span {
    font-style: normal;
}

strong {
    font-weight: 500;
}

footer {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

footer a, footer a:visited {
    color: white;
}

footer p:nth-child(1) {
    font-weight: 300;
}
footer p:nth-child(2) {
    font-weight: 400;
    margin-top: 30px;
}

@media only screen and (min-width: 760px) {
    header {
        height: 80px;
        padding-left: 60px;
        padding-right: 60px;
    }

    #button-open, #button-close {
        display: none;
    }

    nav.close {
        display: block;
        background: none;
        box-shadow: none;
        border: none;
        padding-top: 17px;
        font-size: 14px;
    }

    #menu {
        padding: 0 45px 0 0;
    }
    #menu li{
        display: inline-block;
        margin: 0 15px;
    }

    #menu li a, #menu li a:visited{
        color: white;
    }

    #menu li a:hover{
        text-decoration: underline;
        color: white;
    }

    #menu li:last-child {
        margin: 0;
    }

    #menu li:last-child a,
    #menu li:last-child a:visited {
        text-decoration: none;
        color: white;
        border: 1px solid white;
    }

    #menu li:last-child a:hover {
        border: 1px solid #CE6464;
    }

    .project-summary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .project-summary:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .project-summary h3 {
        margin-top: 0;
    }

    .project-text {
        flex-basis: 50%;
    }

    .project-image {
        flex-basis: 50%;
    }

    .methods {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2%;
        margin: 40px 0 0;
        align-items: baseline;
    }

    .methods img {
        margin-bottom: 20px;
    }

    .about-me {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5%;
    }
}
